flask
python-dotenv
pypdf

# Hugging Face embeddings
sentence-transformers
huggingface_hub
transformers

# LangChain modular ecosystem
langchain
langchain-core
langchain-community
langchain-openai
langchain-pinecone
langchain-experimental
langchain-text-splitters

# Pinecone Vector DB
pinecone-client

# Utilities
tqdm
requests

# Local package
-e .